<h1>vehicles</h1>

<h3>Here are the vehicles on the lot: </h3>
<ul>
  <% @vehicles.each() do |vehicle| %>
    <li><a href="/vehicles/<%= vehicle.id() %>"> <%= vehicle.model() %></a></li>
  <% end %>
</ul>

<a href="/">back to home page</a>
